{% extends "base.html" %}
{% block title %}{{ SITENAME }} <small>[archive]</small>{% endblock %}
{% block content %}
<div id="article">
<div class="entry-content">
	{% for year, date_year in dates|groupby('date.year')|reverse %}
	<h2>{{ year }}</h2>
	{% for month, articles in date_year|groupby('date.month')|reverse %}
		<h3 class="date">{{ articles[ 0 ].date.strftime('%B') }}</h3>
		<ul>
		{% for article in articles %}
			<li><a href="{{ article.url }}">{{ article.title }}</a></li>
			{% endfor %}
		</ul>
	{% endfor %}
	<hr></hr>
{% endfor %}
</div>
</div>
{% endblock %}
