{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<div id="article">
  <header class="entry-title" >
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
  <footer class="post-info">

	{% if article.authors %}
		{% for author in article.authors %}
		<a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
    	{% endfor %}

    <abbr class="published" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</abbr>
	{% if article.modified %}
    	<abbr class="modified" title="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</abbr>
		{% endif %}

	<div class="category">
		<u>Catégorie</u> : <a href="{{SITEURL}}/{{category.url}}" title"{{category}}">{{category}}</a>
	</div>
	
	<div >
		<u>Tag</u> : {% for tag in article.tags %}
			<a href="{{SITEURL}}/{{tag.url}}" title="{{tag}}" rel="tag">#{{tag}}</a>{%if not loop.last %}
			{%endif%}
			{% endfor %}
    		{% endif %}
	</div>

  </footer><!-- /.post-info -->
  <article class="entry-content">
    {{ article.content }}
  </article><!-- /.entry-content -->
</div>
{% endblock %}
