<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />

		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" />

        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}

        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}

        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}

        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}

        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}

        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}

        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}

        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
</head>

<body>
<!-- /#titre -->
        <header id="titre">
                <a href="{{ SITEURL }}/">
					<div id="sitename">{{ SITENAME }}</div>
					<div id="sitesubtitle">{{ SITESUBTITLE }}</div>
				</a>
        </header>
<!-- /#titre -->

<div id="corps">
<div id="gauche">
	<img id="avatar" src="/{{ THEME_STATIC_DIR }}/img/typhlo.png" alt="157" />
	<div id="menu">
		<div id="page" class="lien">
			<a href="{{ SITEURL }}">Accueil</a>
			<a href="{{ SITEURL }}/archives.html">Archives</a>

	        {% for title, link in MENUITEMS %}
	        	<a href="{{ link }}">{{ title }}</a>
	        {% endfor %}

	        {% if DISPLAY_PAGES_ON_MENU %}
	        	{% for p in pages %}
			        {% if p == page %}{% endif %}

					<a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
			{% endfor %}
	        {% else %}
    	    {% endif %}
		</div>

	<div class="menu_liste">Liens</div>
	<div id="liens" class="lien">
			{% for name, url in LINKS %}
				<a href="{{ url|e }}">{{ name }}</a>
			{% endfor %}
		</div>

	<div class="menu_liste">Social</div>
	<div id="social" class="lien">
			{% for name, url in SOCIAL %}
			<a href="{{ url|e }}">{{ name }}</a>
			{% endfor %}
			<a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" rel="alternate">Flux RSS</a>
	</div>

	<div class="menu_liste">Catégories</div>
	<div id="categories" class="lien">
			{% for category, articles in categories %}
			<div>
		        <a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a>
		        <a class="rss" href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}"></a>
			</div>
			{% endfor %}
	</div>

	<div class="menu_liste">Tags</div>
	<div id="tags" class="lien">
		    {%- for tag, articles in tags|sort %}
			<div>
				<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}<sup>{{ articles|count }}</sup></a>
		        <a class="rss" href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}"></a>
			</div>
		    {% endfor %}
	</div>
</div>
</div>

		{% block content %}
        {% endblock %}

</div>
<footer id="contentinfo" class="body">
	<address id="about" class="vcard body">
			<p>Tout contenus créé par l'auteur est sous licence Saucicen, le reste est sous licence posé par le crétaeur original.</p>
			<p>Thème <a href="https://github.com/HS-157/Mannitan">Mannitan</a> par <a href="http://hs-157.moe">HS-157</a><br >
			Bouzin est mis en orbite par <a href="http://getpelican.com/">Pelican</a></p>
	</address><!-- /#about -->
</footer><!-- /#contentinfo -->


</body>
</html>
