{% extends "base.html" %}
{% block content %}
<div id="content">

{% block content_title %} <!-- À vérifier -->
{% endblock %}

{% for article in articles_page.object_list %}
        <article class="hentry">
                <header> <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">
						<abbr class="published" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</abbr>
						- {{ article.title }}
						</a>
				</header>
                <footer class="post-info">
					<div class="tag">
					{% for tag in article.tags %}
						<a href="{{SITEURL}}/{{tag.url}}" title="{{tag}}" rel="tag">#{{tag}}</a>{%if not loop.last %}{%endif%}{% endfor %}
					</div>
                </footer><!-- /.post-info -->
        </article>
{% endfor %}
<!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
{% include 'pagination.html' %}
{% endif %}
</div><!-- /#content -->
{% endblock content %}
